html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-blue: hsl(238, 29%, 16%);
  --text-red: hsl(14, 88%, 65%);
  --text-dkblue: hsl(237, 12%, 33%);
  --text-xdkblue: hsl(240, 6%, 50%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 3rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    var(--gradient-violet),
    var(--gradient-blue)
  );
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  max-width: 56rem;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 50%;
}

.card-box {
  display: none;
}
.card-image img {
  width: 100%;
  height: auto;
  max-width: 25rem;
}

.card-image {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.card-text {
}
@media (min-width: 56em) {
  .card {
    position: relative;
    display: flex;
    margin: 6rem auto;
    padding-right: 2rem;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 45%;
    background-position: -13% center;
  }

  .card-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-25%);
    z-index: 1;
  }
  .card-image,
  .card-text {
    flex: 1;
  }

  .card-image img {
    transform: translateX(-4rem);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
